ul { list-style: none; }
strong { font-weight: bold; }

/** Site css **/
body, p { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #444444; line-height:21px; }
body { height:100%; -webkit-font-smoothing: antialiased; background-color: #fff; }

em{font-style: italic;}

strong{ font-weight: bold;}

/*a { font-family: 'Arial', sans-serif; font-weight: normal; font-size: 14px; color: #1BADCF; }
a:visited { font-family: 'Arial', sans-serif; font-weight: normal; font-size: 14px; color: #1BADCF; }
a:hover { font-family: 'Arial', sans-serif; font-weight: bold; font-size: 14px; color: #444444; }
a:active { font-family: 'Arial', sans-serif; font-weight: bold; font-size: 14px; color: #444444; }*/

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; }
h1 { font-size: 28px; line-height: 34px; color: #333333; font-weight: 700; }
h2 { font-size: 25px; line-height: 30px; color: #1BADCF; font-weight: 400; }
h3 { font-size: 18px; line-height: 22px; color: #1BADCF; font-weight: 600; }
h4 { font-size: 16px; line-height: 24px; color: #1BADCF; font-weight: 700; }
h5 { font-weight: 400; font-size: 15px; line-height: 23px; color: #444444; }
h6 { font-weight: bold; font-size: 14px; line-height: 21px; color: #1BADCF; }

#container{ height: 100%;}
#wrapper{  min-height: 100%; position: relative; }
.header { height: 70px; background: #27282d; }
.border-box { border-right: 1px solid #000100; }
.header-box { height: 70px; }
.padding-box { padding-left: 15px; padding-right: 15px; }
.no-padding { padding: 0px; }

a.img-logo { display: inline-block; padding-top: 13px; }

ul.language-bar { float: right; margin-top: 23px; }
ul.language-bar li { display: inline-block; float: left; padding-left: 21px; }
ul.language-bar li a { color: #828282; text-decoration: none; }
ul.language-bar li a:hover { color: #FFF; }

ul.flight-menu { cursor: pointer; }
ul.flight-menu p.title { color: #828282; padding-left: 30px; margin: 0px; padding-top: 23px; padding-bottom: 25px; }
ul.flight-menu:hover li { display: block; }
ul.flight-menu:hover p.title { color: #FFF; }
ul.flight-menu li i.helicopter, ul.flight-menu li i.star, ul.flight-menu li i.gift, ul.flight-menu li i.clock { width: 33px; height: 33px; background: red; display: inline-block; }
ul.flight-menu li { background: #27282d; display: block; border-top: 1px solid #000100; border-right: 1px solid #000100; }
ul.flight-menu li a { display: inline-block; color: #828282; text-decoration: none; padding-top: 13px; padding-left: 20px; padding-bottom: 13px; padding-right: 20px; }
ul.flight-menu li:hover { background: #000; }
ul.flight-menu li a span { display: block; }
ul.flight-menu li:hover a { color: #FFF; }


@media screen and (min-width: 768px) { 

}
@media screen and (max-width: 1200px) and (min-width: 992px) {

}

@media screen and (max-width: 991px) and (min-width: 768px) {

}

@media screen and (max-width: 767px) and (min-width: 0px) { 
    
}

@media screen and (max-width: 320px) and (min-width: 0px) { 

}