ul { list-style: none; }
strong { font-weight: bold; }

/** Site css **/
body, p { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #444444; line-height:21px; }
body { height:100%; -webkit-font-smoothing: antialiased; background-color: #fff; }

em { font-style: italic; }

strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; }
h1 { font-size: 28px; line-height: 34px; color: #333333; font-weight: 700; }
h2 { font-size: 25px; line-height: 30px; color: #1BADCF; font-weight: 400; }
h3 { font-size: 18px; line-height: 22px; color: #1BADCF; font-weight: 600; }
h4 { font-size: 16px; line-height: 24px; color: #1BADCF; font-weight: 700; }
h5 { font-weight: 400; font-size: 15px; line-height: 23px; color: #444444; }
h6 { font-weight: bold; font-size: 14px; line-height: 21px; color: #1BADCF; }

#container { height: 100%;}
#wrapper { height: 100%; position: relative; }
.header { height: 70px; background: #27282d; }
.border-box { border-right: 1px solid #000100; }
.header-box { height: 70px; }

.margin-top-3 { margin-top: 3px; }
.margin-top-5 { margin-top: 5px; }
.padding-15 { padding-left: 15px; padding-right: 15px; }
.padding-30 { padding-left: 30px; padding-right: 30px; }
.no-padding { padding: 0px; }
.no-padding-left { padding-left: 0px; }

html { height: 100%; }

a.img-logo { display: inline-block; padding-top: 13px; }

ul.language-bar { float: right; margin-top: 23px; }
ul.language-bar li { display: inline-block; float: left; padding-left: 21px; }
ul.language-bar li a { text-transform: uppercase; color: #828282; text-decoration: none; }
ul.language-bar li a:hover { color: #FFF; }

ul.flight-menu { z-index: 9999; cursor: pointer; margin-bottom: 0px; }
ul.flight-menu p.title { text-transform: uppercase; color: #828282; padding-left: 30px; margin: 0px; padding-top: 23px; padding-bottom: 25px; }
ul.flight-menu:hover li { display: block; }
ul.flight-menu:hover p.title { color: #FFF; }
ul.flight-menu li i.helicopter, ul.flight-menu li i.star, ul.flight-menu li i.gift, ul.flight-menu li i.clock { margin-left: -5px; margin-right: 20px; width: 33px; height: 33px; display: inline-block; background-repeat: no-repeat; }
ul.flight-menu li i.helicopter, ul.flight-menu li i.star, ul.flight-menu li i.gift, ul.flight-menu li i.clock { background-image: url('../images/website/helicopter-icon.png'); }
ul.flight-menu li { padding-left: 30px; background: #27282d; display: none; border-top: 1px solid #000100; border-right: 1px solid #000100; }
ul.flight-menu li a { text-transform: uppercase; display: inline-block; color: #828282; text-decoration: none; padding-top: 13px; padding-bottom: 13px; padding-right: 20px; }
ul.flight-menu li:hover { background: #000; }
ul.flight-menu li a span { display: block; text-transform: none; }
ul.flight-menu li:hover a { color: #FFF; }
ul.flight-menu.plus-menu li { width: 250%; }

.down-arrow-icon { margin-left: 6px; margin-top: -3px; vertical-align: middle; background-image: url('../images/website/down-arrow-icon.png'); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; } 

.slider-container { height: 100%; position: relative; }

.full-height { height: calc(100% - 70px); }

.caroufredsel_wrapper { width: 100% !important; height: 100% !important; }
.carousel div { width: 100%; height: 100%; overflow: hidden; float: left; }
.carousel div img { width: auto; height: auto; min-width: 100%; min-height: 100%; }
.carousel .slider-info-container { position: absolute; top: 0px; left: 0px; padding-top: 38px; padding-left: 38px; }
.carousel .slide { position: relative; }

.slider-info-container .slider-divider { margin-bottom: 12px; margin-top: 0px; width: 100px; height: 1px; background: #FFF; border: none; margin-left: 0px; }
.slider-info-container .slider-firstline { text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: 22px; color: #fff; line-height: 28px; letter-spacing: 3px; margin-bottom: 79px; }
.slider-info-container .slider-secondline { font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 34px; color: #FFF; letter-spacing: 3px; word-spacing: 3px; margin-bottom: 34px; text-shadow: 0px 0px 21px rgb( 22, 27, 30 ); }
.slider-info-container .slider-thirdline { font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 18px; color: #FFF; letter-spacing: 2px; }
.slider-info-container .slider-number { line-height: 28px; text-shadow: 0px 0px 21px rgb( 22, 27, 30 ); font-size: 33.54px; font-weight: bold; color: #FFF; letter-spacing: 4px; }
.line-through-text { text-decoration: line-through; }

.wrap-img-item img { width: 100%; height: auto; }
.wrap-img-item { position: relative; }
.wrap-img-item .icon-share { position: absolute; top: 20px; left: 60px; }
.wrap-img-item .icon-favorite { position: absolute; top: 20px; left: 20px; }

.prev-slider { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter:alpha(opacity=20); -moz-opacity: 0.2; -khtml-opacity: 0.2; opacity: 0.2; z-index: 9999; top: 40px; right: 85px; position: absolute; background-image: url('../images/website/arrow-left-slider.png'); background-repeat: no-repeat; width: 46px; height: 46px; display: inline-block; float: left; }
.next-slider { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter:alpha(opacity=20); -moz-opacity: 0.2; -khtml-opacity: 0.2; opacity: 0.2; z-index: 9999; top: 40px; right: 40px; position: absolute; background-image: url('../images/website/arrow-right-slider.png'); background-repeat: no-repeat; width: 46px; height: 46px; display: inline-block; float: left; }
.prev-slider:hover { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); -moz-opacity: 1.0; -khtml-opacity: 1.0; opacity: 1.0; }
.next-slider:hover { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); -moz-opacity: 1.0; -khtml-opacity: 1.0; opacity: 1.0; }

.nav-tabs>li, .nav-tabs>li>a { background: #3b3c41; height: 62px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.nav-tabs>li>a { color: #afa376 !important; font-family: 'Open Sans', sans-serif; font-size: 14px; margin-right: 0px; padding: 10px 0px 10px 30px }
.nav-tabs>li>a p { color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; }
.nav-tabs>li>a, .nav-tabs { border: none !important; }
.nav>li>a:focus, .nav>li>a:hover { border: none; background: #3b3c41; }
.nav-tabs>li.active p { color: #27282d; }

.tab-divider { width: 100px; height: 1px; background: black; margin-top: 9px; margin-left: 0px; border: none; }

form { padding-top: 33px; }
form label { text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: #27282d; font-weight: bold; font-size: 13px; margin-bottom: 0px; }
form input[type="text"] { background: #eeeeee; height: 41px; border: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: none; box-shadow: none; }
form button[type="submit"] { height: 47px; background: #afa376; color: #fff; font-size: 14px; font-family: 'Open Sans', sans-serif; text-transform: uppercase; font-weight: normal; width: 100%; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border: none; margin-top: 5px; letter-spacing: 1px; word-spacing: 3px; margin-bottom: 14px; }
form button[type="submit"]:hover { background: none; border: 1px solid #afa376; color: #afa376; }
form p.help-block { color: #828282; }
form .checkbox-inline { padding-left: 0px; font-weight: bold; margin-bottom: 5px; margin-top: 5px; }
form .checkbox-inline+.checkbox-inline { margin-top: 5px; }
form input[type='checkbox'] { opacity: 0; float: left; width: 15px; }
form a { color: #afa376; }
form input#time-range { background: #fff; color: #828282; }
input[type='checkbox'] + span.lbl-checkbox { margin: 0; clear: none; padding: 5px 0 4px 24px; cursor: pointer; background: url('../images/website/uncheck-checkbox.png') left center no-repeat; }
input[type='checkbox']:checked + span.lbl-checkbox { background-image: url('../images/website/checked-checkbox.png'); }

#slider-range .ui-state-default, #slider-range .ui-widget-content .ui-state-default, #slider-range .ui-widget-header .ui-state-default { height: 30px; width: 30px; background: #FFF; border: 1px solid #d3d3d3; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
#slider-range .ui-slider-handle { top: -0.65em; margin-left: -1.0em; }
#slider-range .ui-widget-header { background: #afa376; }

.horizontal-separator { background: #555555; height: 1px;  width: 100px;  border-bottom: 1px solid #aaaaaa;  margin-left: 0; }
.background-no-repeat { background-repeat: no-repeat; }
h3.title-box { font-size: 22px; color: #27282d; line-height: 13px; text-transform: uppercase; }
p.description-box { font-size: 14px; color: #828282; padding: 27px 0 15px 0; letter-spacing: 1px; word-spacing: 3px; }
.heart-icon { position: relative; width: 100px; height: 90px; }

.heart-icon:before,.heart-icon:after { position: absolute; content: ""; left: 50px; top: 0; width: 50px; height: 80px; background: red; -moz-border-radius: 50px 50px 0 0; border-radius: 50px 50px 0 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; }
.heart-icon:after { left: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: 100% 100%; -moz-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -o-transform-origin: 100% 100%; transform-origin: 100% 100%; }

.icon-item { width: 21px; height: 24px; float: left; }
.icon-mountain { background: url('../images/website/icon-moutain.png') no-repeat bottom; width: 31px; height: 24px; }
.icon-res { background: url('../images/website/icon-res.png') no-repeat ; }
.icon-duration { background: url('../images/website/icon-duration.png') no-repeat ; }
.icon-person { background: url('../images/website/icon-person.png') no-repeat ; }
.icon-cities { background: url('../images/website/icon-cities.png') no-repeat ; }
.icon-share { background: url('../images/website/icon-share.png') no-repeat ; width: 20px; height: 20px; display: inline-block; }
.icon-favorite { background: url('../images/website/icon-favorite.png') no-repeat ; width: 25px; height: 22px; display: inline-block; }
.icon-right-arrow-text { background: url('../images/website/right-arrow-text.png') no-repeat; width: 23px; height: 14px; display: inline-block; }

.item-info-list { padding: 0; }
.item-info-list > li { margin-right: 20px; }

.wrap-item-right-block { padding-left: 0px; padding-right: 30px; }
 
.item-info-list > li:hover { cursor: pointer; }
.horizontal-separator { margin-top: 40px; }
.wrap-item-info { margin-top: 16px; }
.details-info { font-size: 10px; margin: 0; line-height: 10px; padding-left: 25px; color: #8ac0c0; }

/*Form filter*/
.form-filter { padding-top: 3px; }
.item-list { padding: 0; }
.single-item { border-bottom: 1px solid #efeeec; }
.title-item  { font-size: 16px; color: #27282d; line-height: 13px; text-transform: uppercase; font-weight: normal; letter-spacing: 2px; }
.description-item { color:#828282; padding-top: 12px; }
.info-right-block { margin-top: 60px; font-size: 14px; color: #afa376; margin-bottom: 0; letter-spacing: 1px; }
.number-right-clock { color: #afa376; font-weight: bold; font-size: 26px; letter-spacing: 3px; }
.seat-info { background: #27282d; color: #fff; padding: 3px 14px 3px 14px; }
.selectivity-input{width: 100% !important;}
@media screen and (min-width: 768px) { 

}
@media screen and (max-width: 1200px) and (min-width: 992px) {

}

@media screen and (max-width: 991px) and (min-width: 768px) {

}

@media screen and (max-width: 767px) and (min-width: 0px) { 

}

@media screen and (max-width: 320px) and (min-width: 0px) { 

}